

# XP System Rules
- Nach Mastery (3x richtig) gibt es KEINE weiteren XP mehr
- XP System: 1st=10 XP, 2nd=5 XP, 3rd=3 XP, danach=0 XP
- NIEMALS Eigeninitiative beim Design - immer konsistent mit bestehenden Komponenten
